<mat-card>
  <mat-card-title class="app-title">
    <span>Home Center Dashboard</span> {{settingsInfo?.hcName}}
  </mat-card-title>
  <mat-card-content>
    
    <mat-card>
      <mat-card-title>
        Sections
      </mat-card-title>
      <mat-card-content>
        <ng-container *ngFor="let section of sections">
        <mat-card>
          <mat-card-title>
            {{section.name}}
          </mat-card-title>
          <mat-card-content>
            
            <mat-card *ngFor="let room of section.rooms">
              <mat-card-title>
                {{room.name}}
              </mat-card-title>
              <mat-card-content>
                <mat-card *ngFor="let device of room.devices">
                  <mat-card-title>
                    {{device.name}}
                  </mat-card-title>
                  <mat-card-content>
                    <mat-slide-toggle class="binary-switch"
                    *ngIf="device.type === 'com.fibaro.binarySwitch'"
                    [checked]="device.properties.value === 'true'"
                    (change)="toggleBinarySwitch($event, device.id)"
                    >
                    </mat-slide-toggle>
                    <mat-slider class="multilevel-switch"
                    *ngIf="device.type === 'com.fibaro.multilevelSwitch'" 
                    min="0" max="100" step="1" [value]="device.properties.value"
                    (change)="setMultilevelSwitchValue($event, device.id)"></mat-slider>
                    <span *ngIf="device.type === 'com.fibaro.multilevelSwitch'">
                      {{device.properties.value}}</span>
        
                  </mat-card-content> 
                </mat-card>
    
              </mat-card-content>  
            </mat-card>


          </mat-card-content>  
        </mat-card>
      </ng-container>
      </mat-card-content>  

    </mat-card>
    
  </mat-card-content>  
</mat-card>
